(
  map_id: "big_world",
  bounds: (
    min: (
      -4096.0,
      -4096.0,
    ),
    max: (
      4096.0,
      4096.0,
    ),
  ),
  terrain: (
    heightmap: "height.png",
    minimap: None,
    water_level: Some(0.0),
    height_min: -34.0,
    height_max: 81.75524,
  ),
  generated: Some((
    style: Showcase,
    seed: 91,
    generator_version: 12,
    half_extent: 4096.0,
  )),
  player_spawn: Some((
    -200.49127,
    5.339716,
    -2904.4087,
  )),
  objects: [],
  blockers: [],
)
