(
  map_id: "city_alpha",
  bounds: (
    min: (
      -700.0,
      -700.0,
    ),
    max: (
      700.0,
      700.0,
    ),
  ),
  terrain: (
    heightmap: "height.png",
    minimap: Some("minimap.png"),
    water_level: Some(5.0),
    height_min: -2.0,
    height_max: 18.0,
  ),
  player_spawn: Some((
    176.91963,
    6.3597565,
    -102.62257,
  )),
  objects: [
    /*[0]*/ (
      kind: "spring_flower_09",
      position: (
        110.64351,
        0.0,
        -51.790405,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[1]*/ (
      kind: "spring_flower_09",
      position: (
        173.78146,
        0.0,
        -98.44594,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[2]*/ (
      kind: "spring_flower_09",
      position: (
        175.02687,
        0.0,
        -97.91639,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[3]*/ (
      kind: "flower_05",
      position: (
        172.69278,
        0.0,
        -100.09004,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[4]*/ (
      kind: "env_leaves_03",
      position: (
        171.54889,
        0.0,
        -100.56126,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[5]*/ (
      kind: "bush_01",
      position: (
        22.863235,
        0.0,
        -86.85654,
      ),
      rotation_degrees: 0.0,
      scale: 3.2,
    ),
    /*[6]*/ (
      kind: "bush_01",
      position: (
        36.847305,
        0.0,
        -97.71556,
      ),
      rotation_degrees: 0.0,
      scale: 3.2,
    ),
    /*[7]*/ (
      kind: "game_assets/environment/rocks/BigRock_02.glb#Scene0",
      position: (
        -7.419182,
        0.0,
        -3.4491348,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[8]*/ (
      kind: "game_assets/environment/rocks/BigRock_02.glb#Scene0",
      position: (
        7.4813232,
        0.0,
        3.5230637,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[9]*/ (
      kind: "game_assets/environment/rocks/BigRock_02.glb#Scene0",
      position: (
        21.248526,
        0.0,
        -37.091038,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[10]*/ (
      kind: "game_assets/environment/rocks/BigRock_02.glb#Scene0",
      position: (
        33.32865,
        0.0,
        -68.44361,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[11]*/ (
      kind: "game_assets/buildings/village/Church.glb#Scene0",
      position: (
        16.87688,
        0.0,
        -68.72031,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[12]*/ (
      kind: "game_assets/buildings/village/Church.glb#Scene0",
      position: (
        1.3776941,
        0.0,
        -81.769035,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[13]*/ (
      kind: "game_assets/buildings/village/Church.glb#Scene0",
      position: (
        14.617874,
        0.0,
        -103.82996,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[14]*/ (
      kind: "game_assets/buildings/village/Church.glb#Scene0",
      position: (
        58.72914,
        0.0,
        -48.787064,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
    /*[15]*/ (
      kind: "game_assets/buildings/village/Church.glb#Scene0",
      position: (
        62.242928,
        0.0,
        -22.842587,
      ),
      rotation_degrees: 0.0,
      scale: 1.0,
    ),
  ],
  npc_groups: [
    /*[0]*/ (
      archetype: Oilman,
      count: 40,
      zone_center: (
        0.0,
        0.0,
      ),
      zone_half_extents: (
        640.0,
        640.0,
      ),
      preset: IdleWanderZone,
      route: [],
    ),
  ],
  blockers: [
    /*[0]*/ (
      min: (
        -710.0,
        -710.0,
      ),
      max: (
        710.0,
        -700.0,
      ),
    ),
    /*[1]*/ (
      min: (
        -710.0,
        700.0,
      ),
      max: (
        710.0,
        710.0,
      ),
    ),
    /*[2]*/ (
      min: (
        -710.0,
        -700.0,
      ),
      max: (
        -700.0,
        700.0,
      ),
    ),
    /*[3]*/ (
      min: (
        700.0,
        -700.0,
      ),
      max: (
        710.0,
        700.0,
      ),
    ),
  ],
)