(
  map_id: "city_alpha",
  bounds: (
    min: (
      -700.0,
      -700.0,
    ),
    max: (
      700.0,
      700.0,
    ),
  ),
  terrain: (
    heightmap: "height.png",
    minimap: Some("minimap.png"),
    water_level: Some(-5.0),
    height_min: 0.0,
    height_max: 0.0,
  ),
  player_spawn: None,
  objects: [],
  npc_groups: [],
  blockers: [],
)